# Prod
services:
    traefik:
        command:
            - "--providers.docker=true"
            - "--providers.docker.exposedbydefault=false"
            - "--entrypoints.web.address=:80"
            - "--entrypoints.websecure.address=:443"
            - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
            - "--entrypoints.web.http.redirections.entrypoint.scheme=https"
            - "--certificatesresolvers.myresolver.acme.tlschallenge=true"
            - "--certificatesresolvers.myresolver.acme.email=contact@${DOMAIN_NAME:-localdev.com}"
            - "--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json"
        ports:
            - "80:80"
            - 443:443
        volumes:
            - letsencrypt:/letsencrypt

    ui:
        image: ghcr.io/${GITHUB_REPOSITORY}-ui:latest
        restart: always
        labels:
            - "traefik.http.routers.ui.entrypoints=websecure"
            - "traefik.http.routers.ui.tls=true"
            - "traefik.http.routers.ui.tls.certresolver=myresolver"
            - "com.centurylinklabs.watchtower.enable=true"

    postgres:
        restart: always
        expose:
            - 5432

    server:
        image: ghcr.io/${GITHUB_REPOSITORY}-server:latest
        restart: always
        deploy:
            mode: replicated
            replicas: 3
        labels:
            - "traefik.http.routers.server.tls=true"
            - "traefik.http.routers.server.tls.certresolver=myresolver"
            - "traefik.http.routers.server.entrypoints=websecure"
            - "com.centurylinklabs.watchtower.enable=true"
        env_file:
            - "./server/.env.prod"

    ml-server:
        image: ghcr.io/${GITHUB_REPOSITORY}-ml-server:latest
        restart: always
        labels:
            - "com.centurylinklabs.watchtower.enable=true"
        env_file:
            - "./ml-server/.env.prod"

    grafana:
        environment:
            - GF_SECURITY_ADMIN_USER=${GRAFANA_ADMIN_USER}
            - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_ADMIN_PASSWORD}
            - GF_USERS_ALLOW_SIGN_UP=false
        labels:
            - "traefik.http.routers.grafana.entrypoints=websecure"
            - "traefik.http.routers.grafana.tls=true"
            - "traefik.http.routers.grafana.tls.certresolver=myresolver"

    watchtower:
        image: containrrr/watchtower
        command:
            - "--label-enable"
            - "--rolling-restart"
            - "--interval"
            - "30"
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
            - /root/.docker/config.json:/config.json
        environment:
            - REPO_USER=${GITHUB_USERNAME}
            - REPO_PASS=${GITHUB_TOKEN}
        logging:
            driver: "json-file"
            options:
                max-size: "10m"
                max-file: "3"

volumes:
    letsencrypt: