name: invoice

services:
    traefik:
        image: traefik:v3.4
        container_name: traefik
        ports:
            - 80:80
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
        networks:
            - app-network
        logging:
            driver: "json-file"
            options:
                max-size: "10m"
                max-file: "3"

    postgres:
        restart: unless-stopped
        image: postgres:17.2-alpine
        volumes:
            - postgres_data:/var/lib/postgresql/data
        networks:
            - app-network
        environment:
            POSTGRES_USER: ${POSTGRES_USER:-postgres}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
            POSTGRES_DB: ${POSTGRES_DB:-postgres}
        logging:
            driver: "json-file"
            options:
                max-size: "10m"
                max-file: "3"
            
    ui:
        networks:
            - app-network
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.ui.rule=Host(`app.${DOMAIN_NAME:-localhost}`)"
            - "traefik.http.services.ui.loadbalancer.server.port=5173"
        logging:
            driver: "json-file"
            options:
                max-size: "10m"
                max-file: "3"

    server:
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.server.rule=Host(`api.${DOMAIN_NAME:-localhost}`)"
            - "traefik.http.services.server.loadbalancer.server.port=8000"
        depends_on:
            - postgres
        networks:
            - app-network
        logging:
            driver: "json-file"
            options:
                max-size: "10m"
                max-file: "3"

    ml-server:
        networks:
            - app-network
        logging:
            driver: "json-file"
            options:
                max-size: "10m"
                max-file: "3"

    prometheus:
        container_name: prometheus
        image: prom/prometheus
        volumes:
            - ./monitoring/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
        command:
            - "--config.file=/etc/prometheus/prometheus.yml"
        depends_on:
            - server
        networks:
            - app-network
        logging:
            driver: "json-file"
            options:
                max-size: "10m"
                max-file: "3"

    grafana:
        container_name: grafana
        image: grafana/grafana
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.grafana.rule=Host(`monitor.${DOMAIN_NAME:-localhost}`)"
            - "traefik.http.services.grafana.loadbalancer.server.port=3000"

        volumes:
            - grafana-storage:/var/lib/grafana
            - ./monitoring/grafana/provisioning:/etc/grafana/provisioning
        depends_on:
            - prometheus
        networks:
            - app-network
        logging:
            driver: "json-file"
            options:
                max-size: "10m"
                max-file: "3"

volumes:
    postgres_data:
    grafana-storage:

networks:
    app-network:
        driver: bridge
